
body{
    background-color: bisque;
    
}

.sign{
    float: right;
}
    


.sign button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.sign button a {
    text-decoration: none;
    color: white;
}


.h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}

p{
    
        line-height: 1.8;
        padding: 20px; 
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }
    

.image1{
    width: 560px;
}
.image2{
    width: 560px;
    margin-left: 30px;
}

.video1{
    display: inline-block;
}

.video2{
    display: inline-block;
    margin-left: 30px;
}